<div class="appointments">
  <h2 style="margin-bottom: 60px;">My Appointments</h2>
  <div class="appointment-list">
    @if(appointments.length === 0){
    <h3 style="color: red">No appointments found.</h3>
    } @for (appointment of appointments; track $index) {
    <div class="appointment-card">
      <div class="doctor-view" *ngIf="userRole == 'doctor'">
        <img
          *ngIf="
            appointment?.patient_id?.image &&
            appointment.patient_id.image.trim() !== ''
          "
          [src]="appointment.patient_id.image.trim()"
          alt="Doctor Photo"
          class="doctor-photo"
        />
        <img
          *ngIf="
            !appointment?.patient_id?.image ||
            appointment.patient_id.image.trim() === ''
          "
          src="https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg"
          alt="Default Photo"
          class="doctor-photo"
        />

        <h3>Mr. {{ appointment.patient_id.name }}</h3>
      </div>
      <div class="patient-view" *ngIf="userRole == 'patient'">
        <img
          *ngIf="
            appointment?.doctor_id?.image &&
            appointment.doctor_id.image.trim() !== ''
          "
          [src]="appointment.doctor_id.image.trim()"
          alt="Doctor Photo"
          class="doctor-photo"
        />
        <img
          *ngIf="
            !appointment?.doctor_id?.image ||
            appointment.doctor_id.image.trim() === ''
          "
          src="https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg"
          alt="Default Photo"
          class="doctor-photo"
        />

        <h3>DR. {{ appointment.doctor_id.name }}</h3>
      </div>

      <p>
        <strong>Date:</strong>
        {{ appointment.appointment_date | date : "medium" }}
      </p>
      <p><strong>State:</strong> {{ appointment.state }}</p>

      @if(userRole === 'doctor') {
      <div class="btn-group" *ngIf="appointment.state == 'pending'">
        <button
          class="btn confirm"
          (click)="updateState(appointment._id)"
        >
          Confirm
        </button>
        <button class="btn refuse" (click)="delete(appointment._id)">
          Refuse
        </button>
      </div>
      <h4 style="color: cornflowerblue;" *ngIf="appointment.state == 'confirmed'">Confirmed ✅</h4>
      } @else {
      <button class="btn cancel" (click)="delete(appointment._id)">
        Cancel
      </button>
      }
    </div>
    }
  </div>
</div>
<div
  class="bg-[#1c2c1c] absolute border-b-8 border-e-2 border-l-2 border-[#ADFF2F] w-[10%] h-[5%] mt-[-70px] rounded-3xl ml-[15%]"
></div>
