<div class="auth-container">
  <form
    #loginForm="ngForm"
    (ngSubmit)="onSubmit(loginForm)"
    class="auth-box"
    novalidate
  >
    <h2 class="auth-title">Welcome Back</h2>

    <!-- Role Selection
    <label for="role">Login As</label>
    <select
      id="role"
      name="role"
      required
      [(ngModel)]="role"
      class="filter-select"
    >
      <option value="patient">Patient</option>
      <option value="doctor">Doctor</option>
      <option value="admin">Admin</option>
    </select> -->

    <!-- Email Field -->
    <label for="email">Email Address</label>
    <input
      type="email"
      id="email"
      name="email"
      required
      [pattern]="emailPattern"
      [(ngModel)]="email"
      placeholder="you@example.com"
      #emailRef="ngModel"
    />
    @if (emailRef.invalid && emailRef.touched) {
    <div class="auth-error">
      @if (emailRef.errors?.['required']) {
      <span>Email is required.</span>
      } @if (emailRef.errors?.['pattern']) {
      <span>Invalid email format.</span>
      }
    </div>
    }

    <!-- Password Field -->
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      required
      [(ngModel)]="password"
      placeholder="********"
      #passRef="ngModel"
    />
    @if (passRef.invalid && passRef.touched) {
    <div class="auth-error">
      <span>Password is required.</span>
    </div>
    }

    <!-- Submit Button -->
    <button
      type="submit"
      class="animated-button w justify-center"
      [disabled]="loader"
    >
      <span class="circle"></span>
      <span class="text" *ngIf="!loader">Login</span>
      <span *ngIf="loader">
        <span
          class="spinner-border spinner-border-md"
          role="status"
          aria-hidden="true"
        ></span>
      </span>
      <svg class="arr-1" viewBox="0 0 46 16">
        <path d="M30.6 0l1.4 1.4-6.6 6.6H46v2H25.4l6.6 6.6-1.4 1.4L22.6 8z" />
      </svg>
      <svg class="arr-2" viewBox="0 0 46 16">
        <path d="M30.6 0l1.4 1.4-6.6 6.6H46v2H25.4l6.6 6.6-1.4 1.4L22.6 8z" />
      </svg>
    </button>

    <!-- Footer -->
    <p class="auth-footer">
      Don’t have an account? <a routerLink="/auth/register">Create one</a>
    </p>
  </form>
</div>
